@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

a.link-footer:hover {
    font-weight: bold;
}

.btn-hover:hover {
    border: 1px solid white;
}

.card { 
    border: none;
}

.img-body {
    overflow: hidden;
}

.card img:hover {
    transform: scale(1.1);
}

.col {
    width: 200px;
}